@import "tailwindcss";

#root, body, html {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("assets/kitchenBackground.jpg");
  background-size: cover;
  color: white;
}

@theme{
  --radius-custom: 12px;
}

